# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/launch.json
.vscode/tasks.json
Multifuncional/obj/CodigoExercicio.csproj.nuget.dgspec.json
Multifuncional/obj/CodigoExercicio.csproj.nuget.dgspec.json
Multifuncional/obj/CodigoExercicio.csproj.nuget.dgspec.json
Multifuncional/obj/Debug/netcoreapp3.1/CodigoExercicio.assets.cache
Multifuncional/obj/Debug/netcoreapp3.1/CodigoExercicio.csproj.FileListAbsolute.txt
Multifuncional/obj/Debug/netcoreapp3.1/CodigoExercicio.csprojAssemblyReference.cache
Multifuncional/obj/project.assets.json
Multifuncional/obj/project.nuget.cache
